# For Offline Mode using Ollama or LM Studio
# Ollama runs on port 11434 by default.
# LM Studio runs on port 1234 by default.
OPENAI_BASE_URL=http://localhost:11434/v1
OPENAI_API_KEY=ollama
OPENAI_MODEL_NAME=llama3
